# Range

In [1]:
## Let's review how we could construct a list with some numbers

ran = [0,1,2,3,4]

In [2]:
ran

[0, 1, 2, 3, 4]

In [3]:
## We could listify the range to be a list
list(range(5))
#L Side Inclusive and R Side Exclusive

[0, 1, 2, 3, 4]

In [4]:
## We could tuplefy the range to be tuple
tuple(range(5))

(0, 1, 2, 3, 4)

In [5]:
## Setify
set(range(5))

{0, 1, 2, 3, 4}

In [6]:
for i in range(5):
    
    if i%2 != 0:
        print("Odd num "+ str(i))
    elif i%2 is 0:
        print('Even num: ' + str(i))
        
## try to use another way to format the print string.

Even num: 0
Odd num 1
Even num: 2
Odd num 3
Even num: 4

In [7]:
# list(range(25))

# Enumerate - Number(.verb) the elements in a sequence

In [8]:
lst = ["Lu", "Jiang", "Frank", "Du"]

In [9]:
enumerate(lst) ## this is a generator

In [10]:
list(enumerate(lst))

[(0, 'Lu'), (1, 'Jiang'), (2, 'Frank'), (3, 'Du')]

In [11]:
### This is saying: a generator is an ieterable
for index, value in enumerate(lst):
    print(index, value)

0 Lu
1 Jiang
2 Frank
3 Du

In [12]:
for index, value in list(enumerate(lst)):
    ## Formatting 1
    print("This is the {} thing: {}".format(index+1, value))
    ## Formatting 2
    print(f"This is the {index+1} thing: {value}")

This is the 1 thing: Lu
This is the 1 thing: Lu
This is the 2 thing: Jiang
This is the 2 thing: Jiang
This is the 3 thing: Frank
This is the 3 thing: Frank
This is the 4 thing: Du
This is the 4 thing: Du

In [13]:
### Dictify - dict()

new_dict = dict(enumerate(lst))

### !!Note this is not a list. Instead a dict. !!
new_dict[0]

'Lu'

# Zip - Combine elements in the same indices from two sequences that have same length and return a list of tuple

In [14]:
info1 = ["Name", "Age", "Hometown", "Hobby"]
info2 = ["Lu", "24", "YN", "Ukelele"]
info3 = ["Jiang", "1994", "PR", "Playing" ]

In [15]:
for key, value0, value1 in zip(info1, info2, info3):
    print(key + " " + value0 + " " + value1)

Name Lu Jiang
Age 24 1994
Hometown YN PR
Hobby Ukelele Playing

In [16]:
for i in zip(info1, info2, info3):
    #This returns a tuple
    print(i)
    # Index 0 from this tuple:
    print(i[0])

('Name', 'Lu', 'Jiang')
Name
('Age', '24', '1994')
Age
('Hometown', 'YN', 'PR')
Hometown
('Hobby', 'Ukelele', 'Playing')
Hobby

In [17]:
## Make an error in purpose
lst0 = ["Name", "Age", "Hometown", "Hobby"]
lst1 = ["Lu", "24", "YN"]

In [18]:
list(zip(lst0, lst1)) 
### omit the inconsistent indices. in this case: omits "Hobby"

[('Name', 'Lu'), ('Age', '24'), ('Hometown', 'YN')]

In [19]:
## Dictity - key-value pair

dictt = dict(zip(info1, info2))

dictt["Hometown"]

'YN'

# In-Operator

## If an element is in another element/Sequence/Iterable

In [20]:
### String example

"sss" in "ssss"

True

In [21]:
### Dict Example
### So in-operator is only suitable for sequence like string, list, tup, set
d = {"num":1}

d1 = {1:123}

print(1 in d1)
print(1 in d)

## Interstingly enough: in operator checks only keys of a dict by default.

True
False

# Min-Max

In [22]:
# List 
lst = list(range(12))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [23]:
min(lst)

0

In [24]:
max(lst)

11

In [25]:
# Tuple
tup = tuple(range(15))

In [26]:
min(tup)

0

In [27]:
max(tup)

14

In [28]:
# Set

sett = set(range(15))

In [29]:
max(sett)

14

In [30]:
min(sett)

0

# Random

In [48]:
## Let's make a dice
import random #MODULE/LIBRARY/SOFTWARE

In [32]:
points = list(range(1,7))
points

[1, 2, 3, 4, 5, 6]

In [33]:
### this is randomly choosing a point from 1 to 6. 
dice = random.choice(points)
dice

2

# Input

In [49]:
### Let's make a game combing input and dice

dice = random.choice(points)
### In Python 3: input method converts the int to string by default. 
x = int(input("what's the number now?Can you make a guess?"))
if x == dice:
    print("Wow!You guessed it righttttttttttt!")
else:
    print("Hey, It's wrong. The number is: " + str(x))

what's the number now?Can you make a guess?6
Wow!You guessed it righttttttttttt!