# 1.) Statements Assessment Test

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [2]:
st = 'Print only the words that start with s in this sentence'
## learn string split() here, we haven't covered yet:

https://realpython.com/python-string-split-concatenate-join/

In [6]:
# 1.)
lst = st.split()
for word in lst:
    if word[0] == "s":
        print(word)

start
s
sentence

In [11]:
# 2.) Lu's way
for a, b in enumerate(st.split()):
    
    if "s" == b[0]:
        
        print(b)

start
s
sentence

In [15]:
# 3.) the fastest way
for i in st.split():
    
    if i.startswith("s"):
        print(i)

start
s
sentence

In [17]:
# 4.) List Comprehenssion

for i in [s for s in st.split() if s.startswith('s')]:
    print(i)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [19]:
# 1.)

for i in range(11):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10

In [23]:
# 2.) List Comprehenssion Way

for i in [s for s in range(11) if s%2 == 0]:
    print(i)

0
2
4
6
8
10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [26]:
#Code in this cell
# 1.) Conventional Way
s = []
for number in range(1,51):
    
    if number%3 ==0:
        s.append(number)
print(s)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [29]:
# 2.) List Comprehenssion
[number for number in range(1,51) if number % 3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [54]:
st = 'Print every word in this sentence that has an even number of letters'

In [56]:
#Code in this cell
# 1.) 
for word in st.split():
    if len(word)%2 == 0:
        print(f"Hey, {word}, you're not odd")
        print("even length")

Hey, only, you're not odd
even length
Hey, that, you're not odd
even length
Hey, with, you're not odd
even length
Hey, in, you're not odd
even length
Hey, this, you're not odd
even length
Hey, sentence, you're not odd
even length

In [39]:
# 2.) list compression way
for i in [word for word in st.split() if len(word)%2 is 0]:
    print("the length of " + i +" is even")

the length of only is even
the length of that is even
the length of with is even
the length of in is even
the length of this is even
the length of sentence is even

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [52]:
#Code in this cell
for number in range(1,101):
    if number % 3 == 0 and number % 5 == 0:
        print("FizzBuzz")
    elif number % 3 == 0:
        print("Fizz")
    elif number % 5 == 0:
        print("Buzz")
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [58]:
B = 'Create a list of the first letters of every word in this string'

In [60]:
#Code in this cell
# 1.) Lu's way
lst0 = []
for a in B.split():
    
    lst0.append(a[0])
print(lst0)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [64]:
# 2.) List Comprehenssion Way
[word[0] for word in B.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

# 2.) Function Test

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [73]:
## Code here and delete pass statement

# 1.) 
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min([a,b]) ## if a > b:print(b)
    elif a % 2 == 1 or b % 2 == 1:
        return max([a,b]) ## if a > b:print(a)

In [82]:
lesser_of_two_evens(2,5)
# s

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [84]:
### Code here
# 1.) 
def animal_crackers(text):
    splitted = text.split()
    if splitted[0][0] ==  splitted[1][0]:
        return True
    else:
        return False

In [88]:
animal_crackers("Lu frank")

False

In [90]:
# 2.)
def animal_crackers(text):
   
    if text.split()[0][0] == text.slipt()[1][0]:
        return True
    else:
        return False

# A little trickier


#### A. OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
    Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [94]:
st = 'macdonald'

In [115]:
"m".upper()
### .Join(sequence or iterable)

lst = ["1", "2", "3"]

"-".join(lst)

'1-2-3'

In [112]:
st = "hasdsa"

"-".join(st)

'h-a-s-d-s-a'

In [116]:
tup = (1,2,4)
"-".join(tup)

TypeError: sequence item 0: expected str instance, int found

In [117]:
intt = 123

"-".join(intt)

TypeError: can only join an iterable

In [105]:
### 1.) 
def old_macdonald(name):
    letters = []
    for i in name:
        if name.index(i) == 0:
            letters.append(i.upper())
        elif name.index(i) == 3:
            letters.append(i.upper())
        else:
            letters.append(i)
    "".join(letters)

In [119]:
old_macdonald("macdonald")

'MacDonalD'

In [121]:
MD = "macdonald"
list(enumerate(MD))

[(0, 'm'),
 (1, 'a'),
 (2, 'c'),
 (3, 'd'),
 (4, 'o'),
 (5, 'n'),
 (6, 'a'),
 (7, 'l'),
 (8, 'd')]

In [123]:
# 2.)

def old_macdonald(name):
    lst = []
    for a,b in enumerate(name):
        if a == 0:
            lst.append(b.upper())
        elif a == 3:
            lst.append(b.upper())
        else:
            lst.append(b)
    return "".join(lst)

In [125]:
old_macdonald("lujiang")

'LujIang'

#### B. Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [6]:
### Code here

def master_yoda(text):
    pass

# A lot trickier

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [126]:
lst = [1,2,4]
lst.index(4)

2

In [142]:
## Code here.
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [140]:
has_33([3, 1, 3])

False