# 1.) Pandas Merge(Left, Right, Inner, Outer)

https://docs.google.com/spreadsheets/d/17i-AVuP4Aqpat87xJvPfhBaGtsxR4rUc8IEYGKxczyo/edit#gid=474430470

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_excel("Products_Merge_Pandas.xlsx", sheet_name=0)

In [4]:
df2 = pd.read_excel("Products_Merge_Pandas.xlsx", sheet_name=1)

In [5]:
df1.head(3)

                                       Name  Product Code
0  Alete 10M Grießbrei Keks          4x100g  4.251100e+12
1  Alete 10M Grießbrei Vanille       4x100g           NaN
2  Alete 10M Joghurt   Erdbeere      4x100g  4.251100e+12

In [6]:
df2.head(3)

,Artikel / Name,DAN / Supplier Item Number,EAN,Warenbereich / Product Group,VKP / Price,Stück pro Palette / pieces per pallet,Paletten Höhe / pallet hight,Pricy or cheap
0,Alete 10M Grießbrei Keks 4x100g,507901,4.251100e+12,Babyglas & Zwischenverzehr,1.55,864,1046,Cheap
1,Alete 10M Grießbrei Vanille 4x100g,507879,4.251100e+12,Babyglas & Zwischenverzehr,1.55,864,1270,Cheap
2,Alete 10M Joghurt Erdbeere 4x100g,507894,4.251100e+12,Babyglas & Zwischenverzehr,1.55,864,1270,Cheap

# A.)  Merge on Left - Almost identical vlookup() in Excel

# On_merged columns gotta share same data types

In [7]:
df1.rename(index=str, columns={"Product Code":"EAN"}, inplace=True)
df1.columns

Index(['Name', 'EAN'], dtype='object')

In [8]:
df3 = pd.merge(df1, df2, on="EAN", how="left")

In [9]:
df3

,Name,EAN,Artikel / Name,DAN / Supplier Item Number,Warenbereich / Product Group,VKP / Price,Stück pro Palette / pieces per pallet,Paletten Höhe / pallet hight,Pricy or cheap
0,Alete 10M Grießbrei Keks 4x100g,4.251100e+12,Alete 10M Grießbrei Vanille 4x100g,507879.0,Babyglas & Zwischenverzehr,1.55,864.0,1270.0,Cheap
1,Alete 10M Grießbrei Vanille 4x100g,NaN,Alete 10M Makkaroni Spinat Frischk. 220g,810675.0,Babyglas & Zwischenverzehr,0.95,1728.0,1030.0,Cheap
2,Alete 10M Joghurt Erdbeere 4x100g,4.251100e+12,Alete 10M Joghurt Erdbeere 4x100g,507894.0,Babyglas & Zwischenverzehr,1.55,864.0,1270.0,Cheap
3,Alete 10M Makkaroni Spinat Frischk. 220g,4.251100e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alete 10M Rahmkarot.Reis Geflügel 220g,4.251100e+12,Alete 10M Rahmkarot.Reis Geflügel 220g,325396.0,Babyglas & Zwischenverzehr,0.95,1728.0,1050.0,Cheap
5,Alete 10M RahmkartofBlukohl Kalb 220g,4.251100e+12,Alete 10M RahmkartofBlukohl Kalb 220g,325384.0,Babyglas & Zwischenverzehr,0.95,1728.0,1050.0,Cheap
6,Alete 10M Spätzle Gemüse Käses. 220g,4.251100e+12,Alete 10M Spätzle Gemüse Käses. 220g,325392.0,Babyglas & Zwischenverzehr,0.95,1728.0,1050.0,Cheap
7,Alete 10M Thailand Wok Gemüse 2x220g,4.251100e+12,Alete 10M Thailand Wok Gemüse 2x220g,594367.0,Babyglas & Zwischenverzehr,1.85,972.0,1152.0,Cheap
8,Alete 10MDeutschlandSpätzlepfanne 2x220g,4.251100e+12,Alete 10MDeutschlandSpätzlepfanne 2x220g,594369.0,Babyglas & Zwischenverzehr,1.85,972.0,1152.0,Cheap
9,Alete 1J Couscous- salat 120g,4.251100e+12,Alete 1J Couscous- salat 120g,520710.0,Babyglas & Zwischenverzehr,1.25,2100.0,980.0,Cheap

In [10]:
print(df1.dtypes)
print(df2.dtypes)
#So see: two dataframes have the same data types on the column "EAN" - :float64

Name     object
EAN     float64
dtype: object
Artikel / Name                            object
DAN / Supplier Item Number                 int64
EAN                                      float64
Warenbereich / Product Group              object
VKP / Price                              float64
Stück pro Palette / pieces per pallet      int64
Paletten Höhe / pallet hight               int64
Pricy or cheap                            object
dtype: object

In [11]:
df4 = pd.merge(df1, df2, on="EAN", how="right")

In [12]:
df4.head(3)

,Name,EAN,Artikel / Name,DAN / Supplier Item Number,Warenbereich / Product Group,VKP / Price,Stück pro Palette / pieces per pallet,Paletten Höhe / pallet hight,Pricy or cheap
0,Alete 10M Grießbrei Keks 4x100g,4.251100e+12,Alete 10M Grießbrei Vanille 4x100g,507879,Babyglas & Zwischenverzehr,1.55,864,1270,Cheap
1,Alete 10M Grießbrei Vanille 4x100g,NaN,Alete 10M Makkaroni Spinat Frischk. 220g,810675,Babyglas & Zwischenverzehr,0.95,1728,1030,Cheap
2,Alete 10M Joghurt Erdbeere 4x100g,4.251100e+12,Alete 10M Joghurt Erdbeere 4x100g,507894,Babyglas & Zwischenverzehr,1.55,864,1270,Cheap

# 3.) Inner Merge - Pandas Dataframe

In [15]:
df1.shape

(10, 2)

In [16]:
df2.shape

(29, 8)

In [24]:
df5 = pd.merge(df1, df2, on="EAN", how="inner")
df5.shape

(9, 9)

In [23]:
df5

,Name,EAN,Artikel / Name,DAN / Supplier Item Number,Warenbereich / Product Group,VKP / Price,Stück pro Palette / pieces per pallet,Paletten Höhe / pallet hight,Pricy or cheap
0,Alete 10M Grießbrei Keks 4x100g,4.251100e+12,Alete 10M Grießbrei Vanille 4x100g,507879,Babyglas & Zwischenverzehr,1.55,864,1270,Cheap
1,Alete 10M Grießbrei Vanille 4x100g,NaN,Alete 10M Makkaroni Spinat Frischk. 220g,810675,Babyglas & Zwischenverzehr,0.95,1728,1030,Cheap
2,Alete 10M Joghurt Erdbeere 4x100g,4.251100e+12,Alete 10M Joghurt Erdbeere 4x100g,507894,Babyglas & Zwischenverzehr,1.55,864,1270,Cheap
3,Alete 10M Rahmkarot.Reis Geflügel 220g,4.251100e+12,Alete 10M Rahmkarot.Reis Geflügel 220g,325396,Babyglas & Zwischenverzehr,0.95,1728,1050,Cheap
4,Alete 10M RahmkartofBlukohl Kalb 220g,4.251100e+12,Alete 10M RahmkartofBlukohl Kalb 220g,325384,Babyglas & Zwischenverzehr,0.95,1728,1050,Cheap
5,Alete 10M Spätzle Gemüse Käses. 220g,4.251100e+12,Alete 10M Spätzle Gemüse Käses. 220g,325392,Babyglas & Zwischenverzehr,0.95,1728,1050,Cheap
6,Alete 10M Thailand Wok Gemüse 2x220g,4.251100e+12,Alete 10M Thailand Wok Gemüse 2x220g,594367,Babyglas & Zwischenverzehr,1.85,972,1152,Cheap
7,Alete 10MDeutschlandSpätzlepfanne 2x220g,4.251100e+12,Alete 10MDeutschlandSpätzlepfanne 2x220g,594369,Babyglas & Zwischenverzehr,1.85,972,1152,Cheap
8,Alete 1J Couscous- salat 120g,4.251100e+12,Alete 1J Couscous- salat 120g,520710,Babyglas & Zwischenverzehr,1.25,2100,980,Cheap

# 4.) Merge Outer - Pandas Dataframe

In [27]:
df1.shape

(10, 2)

In [28]:
df2.shape

(29, 8)

In [30]:
df6 = pd.merge(df1, df2, on="EAN", how="outer")

In [31]:
df6.shape

(30, 9)

In [32]:
df6

,Name,EAN,Artikel / Name,DAN / Supplier Item Number,Warenbereich / Product Group,VKP / Price,Stück pro Palette / pieces per pallet,Paletten Höhe / pallet hight,Pricy or cheap
0,Alete 10M Grießbrei Keks 4x100g,4.251100e+12,Alete 10M Grießbrei Vanille 4x100g,507879.0,Babyglas & Zwischenverzehr,1.55,864.0,1270.0,Cheap
1,Alete 10M Grießbrei Vanille 4x100g,NaN,Alete 10M Makkaroni Spinat Frischk. 220g,810675.0,Babyglas & Zwischenverzehr,0.95,1728.0,1030.0,Cheap
2,Alete 10M Joghurt Erdbeere 4x100g,4.251100e+12,Alete 10M Joghurt Erdbeere 4x100g,507894.0,Babyglas & Zwischenverzehr,1.55,864.0,1270.0,Cheap
3,Alete 10M Makkaroni Spinat Frischk. 220g,4.251100e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alete 10M Rahmkarot.Reis Geflügel 220g,4.251100e+12,Alete 10M Rahmkarot.Reis Geflügel 220g,325396.0,Babyglas & Zwischenverzehr,0.95,1728.0,1050.0,Cheap
5,Alete 10M RahmkartofBlukohl Kalb 220g,4.251100e+12,Alete 10M RahmkartofBlukohl Kalb 220g,325384.0,Babyglas & Zwischenverzehr,0.95,1728.0,1050.0,Cheap
6,Alete 10M Spätzle Gemüse Käses. 220g,4.251100e+12,Alete 10M Spätzle Gemüse Käses. 220g,325392.0,Babyglas & Zwischenverzehr,0.95,1728.0,1050.0,Cheap
7,Alete 10M Thailand Wok Gemüse 2x220g,4.251100e+12,Alete 10M Thailand Wok Gemüse 2x220g,594367.0,Babyglas & Zwischenverzehr,1.85,972.0,1152.0,Cheap
8,Alete 10MDeutschlandSpätzlepfanne 2x220g,4.251100e+12,Alete 10MDeutschlandSpätzlepfanne 2x220g,594369.0,Babyglas & Zwischenverzehr,1.85,972.0,1152.0,Cheap
9,Alete 1J Couscous- salat 120g,4.251100e+12,Alete 1J Couscous- salat 120g,520710.0,Babyglas & Zwischenverzehr,1.25,2100.0,980.0,Cheap
10,NaN,4.251100e+12,Alete 10M Grießbrei Keks 4x100g,507901.0,Babyglas & Zwischenverzehr,1.55,864.0,1046.0,Cheap
11,NaN,4.251100e+12,Alete 1J Erbsenein- topf 250g,462624.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
12,NaN,4.251100e+12,Alete 1J Frankreich Ratatouille 2x250g,565720.0,Babyglas & Zwischenverzehr,2.25,864.0,1158.0,Cheap
13,NaN,4.251100e+12,Alete 1J Früchter. Himbeere-Apfel 25g,455357.0,Babyglas & Zwischenverzehr,0.45,11664.0,1041.0,Cheap
14,NaN,4.251100e+12,Alete 1J Gemüse Spaghetti Pute 250g,455349.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
15,NaN,4.251100e+12,Alete 1J Gemüse- Lasagne 250g,455346.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
16,NaN,4.251100e+12,Alete 1J Getreideri.Apfel-Traube 25g,455358.0,Babyglas & Zwischenverzehr,0.45,11664.0,1041.0,Cheap
17,NaN,4.251100e+12,Alete 1J Italien Pasta Tomaten 2x250g,565719.0,Babyglas & Zwischenverzehr,2.25,864.0,1158.0,Cheap
18,NaN,4.251100e+12,Alete 1J Kartoffelg.Hühnchen 250g,455350.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
19,NaN,4.251100e+12,Alete 1J Keksschn. Blaubeere 30g,565865.0,Babyglas & Zwischenverzehr,0.55,5120.0,945.0,Cheap
20,NaN,4.251100e+12,Alete 1J Knusperr. Erdbeere-Milch 25g,498503.0,Babyglas & Zwischenverzehr,0.45,11664.0,1095.0,Cheap
21,NaN,4.251100e+12,Alete 1J Mildes Chili con Carne 250g,462612.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
22,NaN,4.251100e+12,Alete 1J Norwegen Gemüsepfanne 2x250g,565721.0,Babyglas & Zwischenverzehr,2.25,864.0,1158.0,Cheap
23,NaN,4.251100e+12,Alete 1J Nudeln Würstchen 250g,537238.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
24,NaN,4.251100e+12,Alete 1J Pasta Gemüse Rind 250g,462780.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
25,NaN,4.251100e+12,Alete 1J Schinken- nudel Tomatens. 250g,462637.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
26,NaN,4.251100e+12,Alete 1J Spanien Paella Hühn. 2x250g,565718.0,Babyglas & Zwischenverzehr,2.25,864.0,1158.0,Cheap
27,NaN,4.251100e+12,Alete 1J Spinat- Käse-Risotto 250g,520343.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
28,NaN,4.251100e+12,Alete 1J Tomaten- Frischk.-Nudeln 250g,558758.0,Babyglas & Zwischenverzehr,1.25,1500.0,1050.0,Cheap
29,NaN,4.251100e+12,Alete 1J Ungarn Gulasch 2x250g,566124.0,Babyglas & Zwischenverzehr,2.25,864.0,1158.0,Cheap