# 1.) Filter rows of a Pandas DataFrame by one column value

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Wusthof.xlsx", sheet_name=0)

In [3]:
#### Filtering rows based on "Sentiment_index" - Python For loop
### Every pandas series/Column is an iterable. 

great_indices = []
for index in df["Sentiment_Index"]:
    if index > 0.5:
        great_indices.append(index)

In [4]:
great_indices[:4]

[0.6613095238095238, 0.5307748822986594, 0.5218680555555556, 0.73125]

 # This filter doesn't modify data source:df

In [5]:
### Filter the rows based on Sentiment_INDEX > 0.5 - one single criteria

df[df["Sentiment_Index"] > 0.3].head() #### df[df[column_name] > 0.5]

,Name,Price,Comments_Volume,Sentiment_Index,Date,Timestamp,Timedelta,Date_Dashed,Date_Dotted
64,Wusthof Stainless Steel 4 Piece BBQ Set,74.62,4,0.433125,20180518,1526774400,20180518,2018-05-18,20180520.0
73,Wusthof Ikon 8-Inch Cook's Knife with Blackwoo...,169.9,18,0.409057,20180518,1526774400,20180518,2018-05-18,20180520.0
75,"Wusthof Classic 5"" Hollow Edge Nakiri Knife / ...",109.72,35,0.467785,20180518,1526774400,20180518,2018-05-18,20180520.0
76,Wusthof Classic 8-Inch Hollow Edge Wunder Knife,79.95,30,0.302622,20180518,1526774400,20180518,2018-05-18,20180520.0
84,"Wusthof Classic Ikon Chef's Set, 3 piece",259.95,8,0.422774,20180518,1526774400,20180518,2018-05-18,20180520.0

In [6]:
df[df["Comments_Volume"]> 700].head()

,Name,Price,Comments_Volume,Sentiment_Index,Date,Timestamp,Timedelta,Date_Dashed,Date_Dotted
10,Wüsthof - 2 Stage Hand-Held Sharpener (2922),19.95,783,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0
22,Wüsthof - 2 Stage Hand-Held Sharpener (2922),19.94,783,0.222105,20180518,1526688000,20180518,2018-05-18,20180519.0
41,Wüsthof - 2 Stage Hand-Held Sharpener (2922),19.94,783,0.184697,20180518,1526774400,20180518,2018-05-18,20180520.0
165,Wusthof 5558-1 Come-Apart Kitchen Shears,19.94,701,0.024987,20180518,1526774400,20180518,2018-05-18,20180520.0
210,Mercer Culinary Genesis 6-Piece Forged Knife B...,139,811,0.194984,20180518,1526774400,20180518,2018-05-18,20180520.0

# 2.)  Filter rows of a Pandas DataFrame by multiple column values/ several Criterias.

In [7]:
(True) or (True)

True

In [8]:
False and False

False

# In a pandas df, Pandas series uses "&"(Ampersand) to replce python built-in "and" keyword and uses  "|" to replace "or" from Python-built-in keyword "or".

In [9]:
#### And Syntax in Pandas Series

df[(df["Comments_Volume"] > 700) & (df["Sentiment_Index"] < 0.3)].head(3)

### This Returns a view(part of a dataframe - it's mirrored. It's not real self. )

,Name,Price,Comments_Volume,Sentiment_Index,Date,Timestamp,Timedelta,Date_Dashed,Date_Dotted
10,Wüsthof - 2 Stage Hand-Held Sharpener (2922),19.95,783,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0
22,Wüsthof - 2 Stage Hand-Held Sharpener (2922),19.94,783,0.222105,20180518,1526688000,20180518,2018-05-18,20180519.0
41,Wüsthof - 2 Stage Hand-Held Sharpener (2922),19.94,783,0.184697,20180518,1526774400,20180518,2018-05-18,20180520.0

In [10]:
### Or syntax in Pandas series

df[(df["Comments_Volume"] > 700) | (df["Sentiment_Index"] < 0.3)].shape

(18616, 9)

# Let's translate this into True/False:

# df[(True/False) & (True/False)]

# df[(True/False) | (True/False)]

# 3.) Create A New Column/Series in a Pandas Dataframe

In [11]:
df.head(2)

,Name,Price,Comments_Volume,Sentiment_Index,Date,Timestamp,Timedelta,Date_Dashed,Date_Dotted
0,Wusthof Classic 8-Inch Chef's Knife,124.97,506,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0
1,Wusthof Gourmet 18 Piece Cherry Block Knife Cu...,279.95,27,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0

# This is saying: let's grab an empty column/Series from pd.- pandas as pd and give it a column name "Category"

In [12]:
df["Category"] = pd.Series()

In [13]:
### Note a new column "Category" has been created. 
df.columns

Index(['Name', 'Price', 'Comments_Volume', 'Sentiment_Index', 'Date',
       'Timestamp', 'Timedelta', 'Date_Dashed', 'Date_Dotted', 'Category'],
      dtype='object')

In [14]:
df.head(3) ## Return a new column with null values. - Nones.

,Name,Price,Comments_Volume,Sentiment_Index,Date,Timestamp,Timedelta,Date_Dashed,Date_Dotted,Category
0,Wusthof Classic 8-Inch Chef's Knife,124.97,506,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0,NaN
1,Wusthof Gourmet 18 Piece Cherry Block Knife Cu...,279.95,27,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0,NaN
2,"Wusthof Classic Ikon 8-Inch Cook's Knife, Black",120.04,323,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0,NaN

In [15]:

rows = df.shape[0] #### this returns the quantity of all rows. why ? Because df.shape is
### (rows, columns)
print(df.shape)
df["Category"] = pd.Series(["Kitchen"]*rows)

(30312, 10)

In [16]:
df.head(3)

,Name,Price,Comments_Volume,Sentiment_Index,Date,Timestamp,Timedelta,Date_Dashed,Date_Dotted,Category
0,Wusthof Classic 8-Inch Chef's Knife,124.97,506,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0,Kitchen
1,Wusthof Gourmet 18 Piece Cherry Block Knife Cu...,279.95,27,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0,Kitchen
2,"Wusthof Classic Ikon 8-Inch Cook's Knife, Black",120.04,323,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0,Kitchen

In [17]:
df["Sub-Category"] = pd.Series()

df[["Name", "Sub-Category"]].head(2)

                                                Name  Sub-Category
0                Wusthof Classic 8-Inch Chef's Knife           NaN
1  Wusthof Gourmet 18 Piece Cherry Block Knife Cu...           NaN

# 4.) Generate CSV/Excel File From Pandas DF

In [24]:
### Generate an Excel File
df.to_excel("Wusthof_Update0.xlsx", index=False) ### Produce a file without df indices
print("Done!")

Done!

In [25]:
### Generate a scv file
df.to_csv("Wusthof_Pandas.csv")
print("File is ready")

File is ready

In [30]:
#### Slcing Current DataFrame and create a new excel file


new_data = df[df["Comments_Volume"] > 700]
new_data.head(3)

,Name,Price,Comments_Volume,Sentiment_Index,Date,Timestamp,Timedelta,Date_Dashed,Date_Dotted,Category,Sub-Category
10,Wüsthof - 2 Stage Hand-Held Sharpener (2922),19.95,783,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0,Kitchen,NaN
22,Wüsthof - 2 Stage Hand-Held Sharpener (2922),19.94,783,0.222105,20180518,1526688000,20180518,2018-05-18,20180519.0,Kitchen,NaN
41,Wüsthof - 2 Stage Hand-Held Sharpener (2922),19.94,783,0.184697,20180518,1526774400,20180518,2018-05-18,20180520.0,Kitchen,NaN

In [31]:
new_data.to_excel("Greatproducts.xlsx", index=False)