In [22]:
import pandas as pd

# 1.) Change the data types of Pandas Series

In [23]:
df = pd.read_excel("Wusthof.xlsx", sheet_name=0)

Looking at the following data types of pandas series. price is actually string type. How could we change the data type of price so that we can do some math?

In [24]:
df["Price"].dtype # "O" means "Object"/"String"

dtype('O')

# 2.) Drop/Remove duplicated data from Pandas Series/Columns

Let's first learn how to check the number of duplicates from a Pandas Series:

In [25]:
df["Name"].duplicated().sum() # This is saying there're 29561 Data Duplicates from Pandas Series "Name"

29561

# Now the question comes how we can remove all these duplicates?

In [26]:
df["Name"].duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7         True
8         True
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
30282     True
30283     True
30284     True
30285     True
30286     True
30287     True
30288     True
30289     True
30290     True
30291     True
30292     True
30293     True
30294     True
30295     True
30296     True
30297     True
30298     True
30299     True
30300     True
30301     True
30302     True
30303     True
30304     True
30305     True
30306     True
30307     True
30308     True
30309     True
30310     True
30311     True
Name: Name, Length: 30312, dtype: bool