In [73]:
import pandas as pd

# 1.) sheet_name - Check which sheets are available

In [74]:
#### Give a ExcelFile Object Name
file = pd.ExcelFile("Wusthof.xlsx")

In [75]:
### get all sheet names
file.sheet_names

['Sheet1', 'Sheet2', 'Zh', 'Img', 'iPhone']

In [76]:
df = pd.read_excel("Wusthof.xlsx", sheet_name=2)

In [77]:
df.head()

,产品名称,价格,评论数,情感指数,日期,时间戳,时间值,日期字符串,日期点
0,Wusthof Classic 8-Inch Chef's Knife,124.97,506,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0
1,Wusthof Gourmet 18 Piece Cherry Block Knife Cu...,279.95,27,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0
2,"Wusthof Classic Ikon 8-Inch Cook's Knife, Black",120.04,323,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0
3,Wusthof 4183-7 Wusthof Classic 7-Inch Santoku ...,104.94,436,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0
4,"Wüsthof - 10"" Knife Sharpening Steel with Loop",24.95,364,0.222105,20180518,1526601600,20180518,2018-05-18,20180518.0

# 2.) Check Columns and Row Indices.

In [78]:
### Check Columns Names
print(list(df.columns))

print(df.columns.tolist())

['产品名称', '价格', '评论数', '情感指数', '日期', '时间戳', '时间值', '日期字符串', '日期点']
['产品名称', '价格', '评论数', '情感指数', '日期', '时间戳', '时间值', '日期字符串', '日期点']

In [79]:
### Row Indices. 
list(df.index)[:6]

[0, 1, 2, 3, 4, 5]

# 3.) Why Sometimes df.rename() method requires index=str and sometimes index=int? 

# This depends on the data type of the column names to be changed. Eg. the column names' data type is string: you use index=str. Were the data type to be integer, then we say index=int.

In [80]:
from openpyxl import load_workbook

In [81]:
# If you continue to operate with Openpyxl, you will indeed change the source excel file.
book = load_workbook("Products_Merge_Pandas.xlsx" ,data_only=True)
sheet = book["Source"]

In [82]:
# Transfer the operating session to pandas Again - You'll no longer modify the source excel file. Cool.

dff = pd.DataFrame(sheet.values)

In [83]:
dff.head(2) # The data type of the column index  is integer.

,0,1,2,3,4,5,6,7
0,Artikel / Name,DAN / Supplier Item Number,EAN,Warenbereich / Product Group,VKP / Price,Stück pro Palette / pieces per pallet,Paletten Höhe / pallet hight,Pricy or cheap
1,Alete 10M Grießbrei Keks 4x100g,507901,4.2511e+12,Babyglas & Zwischenverzehr,1.55,864,1046,Cheap

In [84]:
new_cols = dff.iloc[0, :].values.tolist() ### Listify the new columns

In [85]:
cols = dff.columns.tolist() ### Listify the old columns.

# Note! !! So we use index=int

In [86]:
dff.rename(index=int, columns=dict(zip(cols, new_cols)), inplace=True)

In [87]:
dff = dff.iloc[1:, :]

In [88]:
dff.head(3)

,Artikel / Name,DAN / Supplier Item Number,EAN,Warenbereich / Product Group,VKP / Price,Stück pro Palette / pieces per pallet,Paletten Höhe / pallet hight,Pricy or cheap
1,Alete 10M Grießbrei Keks 4x100g,507901,4.2511e+12,Babyglas & Zwischenverzehr,1.55,864,1046,Cheap
2,Alete 10M Grießbrei Vanille 4x100g,507879,4.2511e+12,Babyglas & Zwischenverzehr,1.55,864,1270,Cheap
3,Alete 10M Joghurt Erdbeere 4x100g,507894,4.2511e+12,Babyglas & Zwischenverzehr,1.55,864,1270,Cheap

In [89]:
list(zip(cols, new_cols))

[(0, 'Artikel / Name'),
 (1, 'DAN / Supplier Item Number'),
 (2, 'EAN'),
 (3, 'Warenbereich / Product Group'),
 (4, 'VKP / Price'),
 (5, 'Stück pro Palette / pieces per pallet'),
 (6, 'Paletten Höhe / pallet hight'),
 (7, 'Pricy or cheap')]

In [90]:
dict(zip(cols, new_cols))

{0: 'Artikel / Name',
 1: 'DAN / Supplier Item Number',
 2: 'EAN',
 3: 'Warenbereich / Product Group',
 4: 'VKP / Price',
 5: 'Stück pro Palette / pieces per pallet',
 6: 'Paletten Höhe / pallet hight',
 7: 'Pricy or cheap'}

In [91]:
dic = dict(name="Lu")

In [92]:
dic

{'name': 'Lu'}

In [93]:
dic0 = {"name":"Lu"}

In [94]:
dic0

{'name': 'Lu'}