# Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

## Numbers

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [7]:
4 * (6 + 5)

44

In [8]:
4 * 6 + 5

29

In [9]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [12]:


type(3 + 1.5 + 4)

### Because the result is 8.5

float

What would you use to find a numberâ€™s square root, as well as its square?

In [21]:
# Square root:

num = 2

## Method 1

print(num**0.5)


## Method 2

import math

print(math.sqrt(num)) ### We used squqre root function from math module

1.4142135623730951
1.4142135623730951

In [23]:

# Square:

num =2

num**2

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [27]:
s = 'hello'

# Print out 'e' using indexing

print(s[1]) ## indexing

e

In [28]:
###### Locate the index of "e"

s.index("e")

1

Reverse the string 'hello' using slicing:

In [33]:
s ='hello'

## Slicing
s[0:4]
# Reverse the string using slicing

'hell'

In [34]:
### 
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [38]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [36]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [40]:
# Method 1:

lst = [0, 0, 0]

lst

[0, 0, 0]

In [46]:
# Method 2:

lst = [0]*3
lst

[0, 0, 0]

In [90]:
names = ["Lu"]*10
names

['Lu', 'Lu', 'Lu', 'Lu', 'Lu', 'Lu', 'Lu', 'Lu', 'Lu', 'Lu']

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [54]:
list3 = [1,2,[3,4,'hello']]

list3[0]


#### A list can hold different data type
##### A list is mutable and has mutability (A list can be changed. )

1

In [49]:
list3[1]

2

In [57]:
x = 3

## Reassign
list3[2][2] = "goodbye"

list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [82]:
list4 = [5,3,4,6,1]

## Method 1: using sort()

list4.sort()

### Sort() doesn't print out the sorted list but it sorts the list in inplace. 

list4

[1, 3, 4, 5, 6]

In [85]:
list4 = [5,3,4,6,1]

###### Sorted(list) doesn't sort inplace. 

sorted(list4)

list4

[5, 3, 4, 6, 1]

In [87]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

list5.sort()


list5

[1, 2, 2, 2, 3, 3, 4, 4, 11, 22, 33]

In [89]:
sorted(list5)

[1, 2, 2, 2, 3, 3, 4, 4, 11, 22, 33]

## Great Job on your first assessment!